html {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%; width: 100%;
}

body{
    font-family: '微软雅黑', sans-serif;
    background-color: #fff; color: #3b2400;
    margin: 0; padding: 0;
    height: 100%; overflow: hidden; position: relative; width: 100%;
}

.clr { /* �����������*/
    width: 0; height: 0;
    overflow: hidden; clear: both;
    padding: 0; margin: 0;
}


/*------------------- frame --------------------*/
.frame {
    width: 100%; height: 100%; position: relative; overflow: hidden;
    background: url(bg.png) repeat; margin: 0; padding: 0; display: none;
}
h4 { font-size: 28px; margin-left: 10%; margin-top: 45%;}
p { font-size: 24px; margin-left: 10%;}

/*------------------- frame0 --------------------*/
#f0>img { position: absolute; width: 100%; left: 3%; top: 25%;}
#f0>input { position: absolute; width: 30%; left: 35%; bottom: 10%;
    background-color: #e60; color: #fff; padding: 10px 0; border: none; 
    font-size: 28px; font-family: "方正中倩简体", '微软雅黑', sans-serif;} 
#f0 {display: block;}
#restart { position: absolute; width: 40%; left: 30%; bottom: 10%;
    background-color: #e60; color: #fff; padding: 10px 0; border: none; 
    font-size: 28px; text-align: center;}